{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div style="font-family: 'Helvetica Neue', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #f9f9f9;">
        <h1 style="color: #333; font-size: 28px;">Réinitialisation de votre mot de passe</h1>
        
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div style="margin-bottom: 15px;">
                <small>
                    Entrez votre adresse e-mail, et nous vous enverrons un lien
                    pour réinitialiser votre mot de passe.
                </small>
            </div>

            <button class="btn btn-primary" style="background-color: #007bff; border: none;">Envoyer l'e-mail de réinitialisation</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
