{% extends 'base.html.twig' %}

{% block title %}Erreur 404 : Route Non Trouvée{% endblock %}

{% block body %}
    <div class="error-page">
        <h1>Erreur 404 : Route Non Trouvée</h1>
        <p>Désolé, la route que vous avez demandée n'a pas pu être trouvée. Il se peut que l'URL soit incorrecte ou que la route correspondante n'existe pas.</p>
        <p>Voici quelques étapes que vous pouvez suivre :</p>
        <ul>
            <li>Vérifiez l'URL pour vous assurer qu'elle est correcte.</li>
            <li>Retournez à la <a href="{{ path('app_home') }}">page d'accueil</a>.</li>
            <li>Utilisez la barre de recherche pour trouver ce que vous cherchez.</li>
            <li>Contactez notre équipe d'assistance si vous avez besoin d'aide.</li>
        </ul>
        <p>Nous nous excusons pour les désagréments que cela peut causer. Merci de votre compréhension.</p>
    </div>
{% endblock %}
