{% extends 'base.html.twig' %}

{% block title %}Erreur 500 : Erreur Interne du Serveur{% endblock %}

{% block body %}
    <div class="error-page">
        <h1>Erreur 500 : Erreur Interne du Serveur</h1>
        <p>Désolé, une erreur interne du serveur s'est produite. Notre équipe technique a été informée de ce problème et travaille activement pour le résoudre.</p>
        <p>En attendant, vous pouvez essayer les étapes suivantes :</p>
        <ul>
            <li>Actualisez la page.</li>
            <li>Revenez plus tard.</li>
            <li>Contactez notre équipe d'assistance.</li>
            <li>Vérifiez l'URL pour vous assurer qu'elle est correcte.</li>
            <li>Effacez les cookies et le cache de votre navigateur.</li>
        </ul>
        <p>Nous nous excusons pour les désagréments que cela peut causer. Merci de votre compréhension et de votre patience.</p>
    </div>
{% endblock %}
