<footer class="footer text-white pt-4 pb-2 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-2">
                <a href="{{ path('app_cgu') }}" class="text-white text-decoration-none link-hover-effect">Conditions Générales d'Utilisation</a>
                <span class="text-white mx-2">|</span>
                <a href="{{ path('app_mention') }}" class="text-white text-decoration-none link-hover-effect">Mentions Légales</a>
                <span class="text-white mx-2">|</span>
                <a href="{{ path('app_contact') }}" class="text-white text-decoration-none link-hover-effect">Contacter-nous</a>
            </div>
        </div>
         <div class="col-md-4 mb-2">
            <div class="col-md-4 mb-2">
                <h5>Modes de Paiement</h5>
                <img src="chemin/vers/logo-carte-credit.png" alt="Cartes de crédit acceptées">
            </div>
        <div class="row mt-1">
            <div class="col-md-12 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="social-icon"><i class="fab fa-instagram text-white"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-icon"><i class="fab fa-facebook text-white"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-icon"><i class="fab fa-twitter text-white"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid py-1">
        <div class="container text-center">
            <p class="text-white">&copy; {{ "now"|date("Y") }} Notre Site E-commerce. Tous droits réservés.</p>
        </div>
    </div>
</footer>
